<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/frontend ::head(~{title}, ~{links})">
</head>

<body>
    <nav th:replace="layout/frontend ::nav"></nav>

    <main class="container mb-4">
        <h2 class="container m-4">Edición de producto</h2>
        <form th:action="@{/producto/editar/} + ${producto.id_producto}" method="post" class="container" th:object="${producto}" enctype="multipart/form-data">
            <div class="mb-3 row">
                <input for="" type="hidden" th:field="*{id_producto}"></input>
                <label for="staticEmail" class="col-sm-2 col-form-label">Nombre:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{nombre}">
                    <div class="alert alert-danger" th:if="${errores != null && errores.containsKey('nombre')}"
                            th:text="${errores.nombre}"></div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Descripción:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="floatingTextarea2" style="height: 100px" th:field="*{descipcion}"></textarea>    
                    <div class="alert alert-danger" th:if="${errores != null && errores.containsKey('descipcion')}"
                        th:text="${errores.descipcion}"></div>           
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Precio:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" th:field="*{precio}">
                    <div class="alert alert-danger" th:if="${errores != null && errores.containsKey('precio')}"
                            th:text="${errores.precio}"></div>    
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Stock:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" th:field="*{stock}">
                    <div class="alert alert-danger" th:if="${errores != null && errores.containsKey('stock')}"
                            th:text="${errores.stock}"></div>   
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Imagen:</label>
                <div class="col-sm-10">
                      <input class="form-control" type="text" th:field="*{imagen}" readonly hidden>
                      <input class="form-control" type="file" name="subirImagen">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Categoria:</label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example" th:field="*{categoria}">
                        <option th:each="categoria:${categorias}" th:value="${categoria.idCategoria}" th:text="${categoria.nombre}">Categoria Nombre</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Editar producto</button>
        </form>
    </main>

    <!--MENSAJE-->
    <div th:class="'toast ' + ${accesoTrue} + ' sticky-top bottom-0'" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" th:fill="${color}"></rect></svg>
          <strong class="me-auto">Mensaje</strong>
          <small>Justo ahora</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" th:text="${mensaje}">
          Hello, world! This is a toast message.
        </div>
    </div>

    <!--FOOTER-->
    <footer th:replace="layout/frontend :: pie-de-pagina"></footer>

    <div th:replace="layout/frontend :: script"></div>
</body>

</html>